@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Robotto', monospace;
    width: 100%;
}

body {
    @apply max-w-screen-md;
    @apply mx-auto;
    @apply my-4;
    @apply text-gray-800 dark:text-gray-300;
    @apply bg-gray-200 dark:bg-gray-800;
    @apply transition-colors;
    @apply duration-700;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1{
    @apply md:text-2xl
}

img {
    @apply rounded-lg;
    @apply h-auto
}
