@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Robotto', monospace;
    width: 100%;
}

body {
    @apply max-w-screen-md;
    @apply mx-auto;
    @apply my-4;
    @apply text-neutral-800;
    @apply bg-neutral-200;
    @apply dark:bg-neutral-800;
    @apply dark:text-neutral-300;
    @apply transition-colors;
    @apply duration-700;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1{
    @apply md:text-2xl
}

img {
    @apply rounded-lg;
}
