@tailwind base;
@tailwind components;
@tailwind utilities;

/* Markdown Styles */

#postcontent {
    @apply my-4;
}

#postcontent img {
    @apply w-full;
    @apply h-auto;
    display: block;
}

/* Headings */
#postcontent h1, #postcontent h2, #postcontent h3, 
#postcontent h4, #postcontent h5, #postcontent h6 {
    @apply text-neutral-300;
    @apply dark:text-neutral-800;
    @apply mt-4;
    @apply mb-2;
    @apply font-bold;
}

#postcontent h1 { @apply text-4xl; }
#postcontent h2 { @apply text-3x; }
#postcontent h3 { @apply text-2xl; }
#postcontent h4 { @apply text-xl; }
#postcontent h5 { @apply text-l; }
#postcontent h6 { @apply text-l; }

/* Paragraphs */
#postcontent p {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: justify;
}

/* Blockquotes */
#postcontent blockquote {
    border-left: 4px solid #ccc;
    padding: 10px 20px;
    margin: 20px 0;
    color: #666;
    background-color: #f9f9f9;
    @apply dark:bg-neutral-700 text-white border-l-4 border-neutral-500; 
}

/* Code Blocks and Inline Code */

#postcontent pre {
    padding: 10px;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 16px;
}

#postcontent code {
    padding: 2px 4px;
    font-family: 'Courier New', monospace;
    font-size: 90%;
}

/* Tables */
#postcontent table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#postcontent th, #postcontent td {
    padding: 8px;
    border: 1px solid #ddd;
}

#postcontent th {
    background-color: #f4f4f4;
    @apply dark:bg-neutral-700;
}

/* Lists */
#postcontent .footnotes ul, ol {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 20px;
    list-style: outside;
}

/* Special HTML Tags */
#postcontent abbr {
    border-bottom: 1px dotted #666;
    cursor: help;
}

#postcontent kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
}

#postcontent mark {
    background-color: yellow;
    color: black;
}

#postcontent sup, #postcontent sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

#postcontent sup { top: -0.5em; }
#postcontent sub { bottom: -0.25em; }