---
import Layout from '@layouts/BlogPost.astro';
import Image from 'astro/components/Image.astro';

import DeathStar from '@images/RFNightSky-1.jpg'
---

<Layout
	title="About Me"
	description="A little bit about me"
	pubDate={new Date('15 September 2024')}
	heroImage="about-me-cover.jpg"
>

<h4 class="mt-4 mb-1">Hello</h4>
<p>
	Yes, that is me standing at the Geographic South Pole; no, it is not in Alaska but in Antarctica. 
	I am currently at Palmer Station on the west coast of the Antarctic Peninsula. Since late 2019, I 
	have spent three years in Antarctica as a Senior Network Engineer with the Antarctic Support Contract. 
	It is pretty cold, having spent time outside at -105.5 F (-76.4 C). This program has been quite an 
	experience, and I will write some posts about it. In the meantime, more about me.
</p>

<h4 class="mt-4 mb-1">Networking</h4>
<div class="flex flex-row items-start gap-x-4">
	<p class="w-3/5">
		I have been networking since high school, where I took two classes that were a partnership between 
		the local community college and my high school. I continued into college, focusing on networking, 
		computer science, mathematics, and communications. After college, I have touched many networking areas, 
		from ISP to enterprise, TAC, and professional services.
	
	</p>
	<Image src={DeathStar} alt="Raydome at South Pole with laser going straight up" class="w-2/5 aspect-auto"/>
</div>

<h4 class="mt-4 mb-1">Activities!</h4>
<p>
</p>

</Layout>
