---
import { Icon } from 'astro-iconify'

---

<div class="fixed flex items-center rounded-full bg-orange-400 p-2 leading-none text-orange-50" role="alert">
      <span class="mr-3 flex rounded-full bg-orange-600 px-2 py-1 text-xs font-bold uppercase">Draft</span>
      <span class="mr-2 flex-auto text-left font-semibold">This article is currently a draft. URL and text will change</span>
      <a class="h-4 w-4 fill-current opacity-75" onclick="this.parentElement.style.display='none'">X</a>
</div>