---
import { getCollection } from "astro:content";
import BlogCard from "@components/BlogCard.astro";

const posts = await getCollection("blog");
let numberOfPostsToDisplay = 3;
let recentPosts = posts.slice(0, numberOfPostsToDisplay);
---


{recentPosts && (
    <div class="px-2 md:w-100 flex flex-col gap-5 mt-4">
      <h1 class="font-large text-4xl mt-6">Recent Publications</h1>
      {recentPosts.map((post: any) => (
        <div class="flex"><BlogCard post={post}/></div>
      ))}
      <a class="border flex justify-center items-center hover:no-underline hover:bg-gray-200 
        hover:border-gray-300 transition-colors ease-in-out bg-gray-100 w-full max-w-xs mx-auto mt-4
        rounded-lg text-gray-700 text-s h-8 font-medium border-gray-200 dark:bg-gray-700 dark:border-gray-600 
        dark:text-gray-300 hover:dark:bg-gray-700/50 hover:dark:border-gray-600 hover:dark:text-gray-100"
        href="/blog">View more</a>
    </div>
  )
}
